<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User list</title>
    <style>
        table{
            text-align: center;
            margin-left: 500px;
        }
        h1{
            text-align: center;
            font-size: 50px;
            background-color: chartreuse;
            color: black;
        }
    </style>
</head>
<body>
    <h1>User List</h1>
    <table border="1px">
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>age</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for i in data%}
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.name}}</td>
                <td>{{i.age}}</td>
                <td>{{i.email}}</td>

            </tr>
            {% endfor %}
        </tbody>

    </table>
</body>
</html>